html.sr .slider {
  visibility: hidden;
  overflow: hidden;
}

main {
  overflow: hidden;
  background-color: #CBC1E4;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  background-image: url("flowy.jpg");
}

.hero-inner {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 1562.5%;
  margin-bottom: 687.5%;
  margin-right: 1562.5%;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 100%;
  box-shadow: 0 25% 187.5% rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.37.5%);
  -webkit-backdrop-filter: blur(6.37.5%);
  border: 6.25% solid rgba(255, 255, 255, 0.22);
  height: 5000%;
}


.hero-text {
  text-align: left;
  position: relative;
  top: 40%;
  left: 60%;
  line-height: 437.5%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 375%;
  padding-left: 437.5%;
  padding-top: 437.5%;
  padding-bottom: 562.5%;
}

.big-ruby {
  color: #D62458;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 375%;
}

.hero-card {
  margin: 687.5%;
  position: relative;
  width: 2437.5%;
  height: 2837.5%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 75%;
  gap: 75%;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  background-size: cover;
  background-image: url("selfie2.JPG");
  background-position: top;
}

.hero-card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -31.25%;
  margin: auto;
  width: 2500%;
  height: 2900%;
  border-radius: 62.5%;
  background: linear-gradient(-45deg, #7990D4 0%, #FFDC66 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #FFDC66 0%, #AE0254 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(125%);
}


.hero-card:hover::after {
  filter: blur(187.5%);
}

.hero-card:hover::before {
  transform: rotate(-90deg) scaleX(1.20) scaleY(0.90);
}


* {
  padding: 0;
  margin: 0;
}

.slider {
  background: #CBC1E4;
  height: 1562.5%;
  margin: 0;

  position: relative;
  width: 100%;

}

.slider::before,
.slider::after {

  content: "";
  height: 1250%;
  position: absolute;

  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(1187.5% * 9);
}



.slider .slide {
  width: 1250%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1187.5% * 9));
  }
}

.testimonial-section {
  margin-left: 1562.5%;
  margin-right: 1562.5%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  border-radius: 156.25%;
  background: #FFDC66;
  background: linear-gradient(-45deg, #7990D4 0%, #FFDC66 100%);
  column-gap: 50%;
  margin-bottom: 125%;
  margin-top: 125%;
  height: 3750%;
}

.test {
  margin: 156.25%;
  color: black;
  padding-top: 625%;
  text-align: center;
  line-height: 250%;
  box-shadow: rgba(27, 8, 49, 0.2) 0 93.75% 187.5% -31.25%;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 137.5%;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 100%;
  box-shadow: 0 25% 187.5% rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.37.5%);
  -webkit-backdrop-filter: blur(6.37.5%);
  border: 6.25% solid rgba(255, 255, 255, 0.22);
}

.reftest {
  margin: 156.25%;
  color: black;
  padding-top: 437.5%;
  text-align: center;
  line-height: 250%;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 143.75%;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 100%;
  box-shadow: 0 25% 187.5% rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.37.5%);
  -webkit-backdrop-filter: blur(6.37.5%);
  border: 6.25% solid rgba(255, 255, 255, 0.22);
}

.reftest h2 {
  color: #D62458;
}

.reftestimonial-section {
  margin-left: 1562.5%;
  margin-right: 1562.5%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  border-radius: 156.25%;
  background: #FFDC66;
  background: linear-gradient(-45deg, #7990D4 0%, #FFDC66 100%);
  column-gap: 50%;
  margin-bottom: 625%;
  margin-top: 125%;
  height: 2500%;
}

.p-test1 {
  margin-top: 437.5%;
  font-size: 187.5%;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

.p-test2 {
  color: #D62458;

  font-size: 437.5%;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container {
  max-width: 7500%;
  width: 90%;
  margin: auto;
}

.navbar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  background-image: url("flowy.jpg");
  position: top;
  width: 100%;
  z-index: 100;
}



.navbar-container {
  display: flex;
  height: 400%;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

.logo {
  order: 1;
  font-size: 1.4rem;
}

.menu-items li {
  list-style: none;
  margin-left: 1.8rem;
  font-size: 1rem;
}

.navbar a {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #FECFF5;
}

@media (max-width: 4800%) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 400%;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 200%;
    width: 187.5%;
    top: 125%;
    left: 125%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 175%;
    width: 218.75%;
    position: absolute;
    top: 125%;
    left: 125%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 25%;
    width: 100%;
    border-radius: 62.5%;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 625%;
    background: #fff;
    height: 100vh;
    max-width: 1875%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -250%;
    padding-left: 250%;
    transition: transform 0.5s ease-in-out;
    box-shadow: 31.25% 0% 62.5% 0% #aaa;
    overflow: scroll;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 62.5%;
    right: 93.75%;
    font-size: 2.5rem;
  }

  .navbar-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

}

@media (max-width: 3125%) {
  .navbar-container input[type="checkbox"]:checked~.logo {
    display: none;
  }
}

.footer2 {
  display: grid;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  background-image: url("flowy.jpg");
  height: 1250%;
  column-gap: 50%;
  grid-template-columns: 33% 33% 33%;
  padding-left: 1562.5%;
  padding-right: 1562.5%;
  align-items: center;
  width:100%;
  bottom:0%;


}

.footer-logo a {
  text-decoration: none;
  color:#1f1414;
  
  font-size: 125%;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

.footer-nav {
  text-align: center;
}

.footer-nav a {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  color: #1f1414;
  text-decoration: none;
  font-size: 125%;
}

/* visited link */
.footer-nav a:visited{
  color: #000000;
}

/* mouse over link */
.footer-nav a:hover{
  color: #FECFF5;
}

/* selected link */
.footer-nav a:active {
  color: #7C3D8E;
}


.socials {
  text-align: center;
  font-size: 187.5%;
  text-decoration: none;

}

.hire {
  text-align: center;
  color: #8a173a;
  font-size: 250%;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
  line-height: 250%;

}

.hire-me {
  padding: 312.5%;
  font-size: 125%;
  text-align: center;
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
  line-height: 250%;
}



section {
  margin: 0 auto;
  overflow: hidden;
  /* Ensures no extra content overflows */
}

/*Contact*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");

.contact {
  box-sizing: border-box;
  background: #e7cae7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Electrolize", serif;
  min-height: 100vh;
}

.about {
  box-sizing: border-box;
  background: #e7cae7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Electrolize", serif;
  min-height: 100vh;
}



.navi-container {
  background: radial-gradient(at right top, #ED6CEA, #87B5DE);
  box-shadow: #e780df 0 93.75% 187.5% -31.25%;
  border-radius: 156.25%;

  display: flex;
  flex-direction: column;
  justify-content: center center;

  padding: 187.5% 375%;
  text-align: center;
  width: 3750%;
  max-width: 100%;
  margin-left: 32%;
  margin-top: 10%;
  margin-bottom: 10%;

}

.navi-container p {
  color: rgb(0, 0, 0);
  letter-spacing: 0.25%;
  font-size: 187.5%;
}

.navi-container form {
  width: 100%;
}

.navi-container .input-area {
  position: relative;
  margin: 62.5% 0;
  height: 275%;
  width: 100%;
}

.navi-container .h-80 {
  height: 750%;
}

.navi-container input,
.navi-container textarea {
  position: absolute;
  display: block;
  font-family: "Electrolize", serif;
  font-size: 87.5%;
  padding: 75%;
  height: 100%;
  width: 100%;
  border: 6.25% solid #999;
  border-radius: 25%;
  outline: none;
  resize: none;
}

.navi-container .sendbtn {
  display: block;
  width: 100%;
  background: #660033;
  color: #fff;
  font-size: 112.5%;
  padding: 68.75%;
  border: none;
  border-radius: 25%;
  cursor: pointer;
}

.navi-container .sendbtn:hover {
  background-color: #993366;
}

@media screen and (max-width: 3750%) {
  .navi-container {
    padding: 125% 187.5%;
  }
}




/* From Uiverse.io by adamgiebl */
.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 125%;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(-45deg, #7990D4 0%, #FFDC66 100%);
  color: ghostwhite;
  overflow: hidden;

  width: 40%;
  display: inline-block;
  text-decoration: none;
}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}


.card {
  position: relative;
  width: 1875%;
  height: 1250%;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  border-radius: 62.5%;
  display: flex;

  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}

.card--mobileApp {
  background-image: url("mobileApp.png");
}

.card--friendsFamily {
  background-image: url("friends.JPG");
}

.card--baking {
  background-image: url("baking.jpg");
}

.card--videoGames {
  background-image: url("pc.jpg");
}

.card--reading {
  background-image: url("books.jpg");
}

.card svg {
  width: 300%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover {
  box-shadow: 0 62.5% 125% rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 125%;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 150%;
  color: #8a173a;
  ;
  font-weight: 700;
}

.card__description {
  margin: 62.5% 0 0;
  font-size: 87.5%;
  color: #777;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}

.about-entry {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 1562.5%;
  margin-right: 1562.5%;

  margin-top: 687.5%;
  justify-content: space-between;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.19);
  border-radius: 100%;
  box-shadow: 0 25% 187.5% rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.37.5%);
  -webkit-backdrop-filter: blur(6.37.5%);
  border: 6.25% solid rgba(255, 255, 255, 0.22);
  height: 3125%;
  ;
}

.about-entry-pic {
  background-size: cover;
  background-image: url("home\ \(1\).jpg");
  background-position: top;
  height: 2500%;
  width: 3125%;
  border-radius: 100%;
  box-shadow: 0 25% 187.5% rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.37.5%);
  -webkit-backdrop-filter: blur(6.37.5%);
  border: 6.25% solid rgba(255, 255, 255, 0.22);
  margin-left: 562.5%;
}

.about-entry-para {
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  line-height: 187.5%;
  margin-right: 562.5%;
}

.salmo {
  padding-left: 3125%;
  text-align: center;
}

.leth {
  padding-right: 3125%;
  text-align: center;
}

.Education h2 {
  color: #8a173a;
}

.Education {
  height: 1875%;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  line-height: 187.5%;
  font-size: 125%;
}

.skills {
  background-color: #a894d8;
  height: 1875%;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  margin-bottom: 687.5%;
  margin-top: 687.5%;
  align-items: center;
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  line-height: 156.25%;
}

.hard-skills {
  padding-left: 3125%;
  text-align: center;
}

.soft-skills {
  padding-right: 3125%;
  text-align: center;
}

.skills h1,
.hobbies h1 {
  color: #8a173a;
}

.timeline h1 {
  color: #8a173a;
  text-align: center;
}

.hobby-divs {
  height: 1875%;
  position: relative;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-content: space-between;
  margin-bottom: 125%;
  padding-left: 625%;
  padding-right: 625%;
  align-items: center;
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  line-height: 156.25%;
}


@import url('https://fonts.googleapis.com/css?family=Niramit:300,300i,700');

.tl-container {
  max-width: 4062.5%;
  margin: 312.5% auto;

}

.tl-container p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 87.5%;
  opacity: 0.8;
}

.timeline {
  position: relative;
  padding-left: 4rem;
  margin: 0 0 0 187.5%;
  color: black;
  margin-left: 2187.5%;
  margin-right: 1875%;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 100%;
  box-shadow: 0 25% 187.5% rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.37.5%);
  -webkit-backdrop-filter: blur(6.37.5%);
  border: 6.25% solid rgba(255, 255, 255, 0.22);
}

.timeline .timeline-container {
  position: relative;
  margin-bottom: 2.5rem;
}

.timeline .timeline-container .timeline-icon {
  position: absolute;
  left: -550%;
  top: 25%;
  width: 312.5%;
  height: 312.5%;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  background: #4f537b;
}

.timeline .timeline-container .timeline-icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.timeline .timeline-container .timeline-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.timeline .timeline-container .timeline-body {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 100%;
  box-shadow: 0 25% 187.5% rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.37.5%);
  -webkit-backdrop-filter: blur(6.37.5%);
  border: 6.25% solid rgba(255, 255, 255, 0.22);
  padding: 125% 125% 93.75%;
  box-shadow: 6.25% 18.75% 56.25% rgba(0, 0, 0, 0.1);
}

.timeline .timeline-container .timeline-body:before {
  content: '';
  background: inherit;
  width: 125%;
  height: 125%;
  display: block;
  position: absolute;
  left: -62.5%;
  transform: rotate(45deg);
  border-radius: 0 0 0 12.5%;
}

.timeline .timeline-container .timeline-body .timeline-title {
  margin-bottom: 1.4rem;
}

.timeline .timeline-container .timeline-body .timeline-title .badge {
  background: #4f537b;
  padding: 25% 50%;
  border-radius: 18.75%;
  font-size: 112.5%;
  font-weight: bold;
}

.timeline .timeline-container .timeline-body .timeline-subtitle {
  font-weight: 300;
  font-style: italic;
  margin-top: 100%;
  font-size: 81.25%;
}

.timeline .timeline-container.primary .badge,
.timeline .timeline-container.primary .timeline-icon {
  background: #1d8cf8 !important;
}

.timeline .timeline-container.success .badge,
.timeline .timeline-container.success .timeline-icon {
  background: #F3899D !important;
}

.timeline .timeline-container.warning .badge,
.timeline .timeline-container.warning .timeline-icon {
  background: #ff8d72 !important;
}

.timeline .timeline-container.danger .badge,
.timeline .timeline-container.danger .timeline-icon {
  background: #fd5d93 !important;
}